.burger-container{
    display: flex;
    min-height: 70px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   

}

.burger-icon{
    color: orange;
    font-size: 2.7rem;
}

