.Hero{
  
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px, 1fr));
    width: 100%;
    background-color: var(--container_color);
    justify-content: center;
    gap: 1rem;
}


.hero-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins";
    font-size: 2rem;
    
}

.hero-details{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container_color);
    text-align: center;
}


.img-cont{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

