.news-items-container{
width:100% ;
transition: .3s ease;
display: grid;
gap:10px;
grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
padding: 10px;


/* grid-template-columns: repeat(3, 1fr); */

}


.News-Wrapper-title{

    font-size: 2rem;
   text-align: center;
    font-family: "Poppins";
}



.see-more-news{

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    font-size: .8rem;
    
}


.see-more-news>a>h1{
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color: black;
}